# Add any directories, files, or patterns you don't want to be tracked by version control

# Matlab figures
*.fig

# Other pictures/movies/figures/data (from MATLAB)
*.png
*.avi
*.fig
*.mat

# MATLAB temporary files
*.asv

# Documentation folder
html/

# Self explanatory
scratch/